@use "src/styles/mixins" as *;

// Outer section
:global {
	#technologies-section {
		background-color: var(--fds-solid-background-base);
	}
}

.technologies-section-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.technology-link {
	text-decoration: none;
}

.technology-image {
	width: 80px;
	height: 80px;
	
	@media screen and (width > 648px) {
		filter: grayscale(100%);
	}
	
	transition: filter 0.3s;
}

.technology-image:hover {
	filter: none;
}

.technologies-section- {
	// Since we need to always contrast against a
	// light-ish background, we'll need to hardcode
	// some variables.
	&text {
		text-align: center;
		
		p {
			margin-inline: 15ch;
			@media screen and (width < 648px) {
				margin-inline: 0;
			}
		}
	}
}

.technologies-grid {
	display: grid;
	/* 9 grid 3x3 */
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem;
}

.technologies-grid-section {
	display: flex;
	justify-content: center;
}

// Technologys section small device support
@media screen and (width < 924px) {
	:global(#technologies-section .page-section-inner) {
		grid-template-columns: auto;
	}
}
